{% extends 'core/base.html' %}

{% block nav %}
<a class="navbar-brand" href="#!">Salon</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Clase:home' %}">Clase</a></li>
    </ul>
</div> 
{% endblock nav %}
{% block title %}
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Creacion de Estudiantes:</h1>
    </div>
</header>
{% endblock title %}
{% block content %}
<section class="py-5">
    <div class="container my-6">
        <div class="row">
            <div class="col-12  ">
                <h1 class="display-6 py-5 text-center">Agregar Estudiante:</a></h1>
                <form class="text-center" method="post">{% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</section> 

{% endblock content %}