{% extends 'core/base.html' %}

{% block nav %}
<a class="navbar-brand" href="#!">Salon</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Clase:home' %}">Clase</a></li>
    </ul>
</div> 
{% endblock nav %}
{% block title %}
    <header class="py-5 bg-black " >
        <div class="text-center my-5">
            <h1 class="text-white display-1  ">Clase:</h1>
        </div>
    </header>
    
{% endblock title %}
{% block content %}
<section class="py-5">
    <div class="container my-6">
        <div class="row">
            <div class="col-12  ">
                <h1 class="display-6 py-5 text-center">Agregar Comision:</a></h1>
                <form class="text-center" method="post">{% csrf_token %}
                    {{form.as_p}}
                    <p>Usa ctrl + click izquierdo<br> para seleccionar multiples estudiantes</p>
                    <button type="submit">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</section> 

{% endblock content %}