{% extends 'core/base.html' %}

{% block nav %}
<a class="navbar-brand" href="#!">Salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'core:home' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Clase:home' %}">Clase</a></li>
        </ul>
    </div> 
{% endblock nav %}

{% block title %}
    <header class="py-5 bg-black " >
        <div class="text-center my-5">
            <h1 class="text-white display-1  ">Clase:</h1>
        </div>
    </header>
    
{% endblock title %}

{% block content %}
<section class="py-5 ">
    <div class="container my-5">
        <div class="row text-center">
                <p class=" col  fs-3 p-3"><a class="link-dark link-offset-3 " href="{% url 'Clase:agregarCurso' %}">Agregar Curso </a></p>
                <p class=" col  fs-3 p-3"><a class="link-dark link-offset-3 " href="{% url 'Clase:agregarEstudiante' %}">Agregar Estudiante</a></p>
                <p class=" col  fs-3 p-3"><a class="link-dark link-offset-3 " href="{% url 'Clase:agregarProfesor' %}">Agregar Profesor</a></p>
                <p class=" col  fs-3 p-3"><a class="link-dark link-offset-3 " href="{% url 'Clase:agregarComision' %}">Agregar Comision</a></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <form method="post">
                    {% csrf_token %}
                    <h1>Buscar por comision:</h2>
                    {{ form.as_p }}
                    <button type="submit">Buscar</button>
                </form> 

                {% if resultados %}
                    <div>
                        <h3>Resultado de la búsqueda:</h2>
                        
                        {% for comision in resultados %}
                            <p>{{ comision.nombre }}</p>
                            <p>{{ comision.curso }}</p>
                            <p>{{ comision.profesor }}<br></p>
                            <p class=" fs-4">Estudiantes: </p>
                            <ul class="list-group ">
                            {% for Estudiante in comision.estudiantes.all %}
                            <li class="list-group-item ">{{ Estudiante.nombre }}</li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                        
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section> 

{% endblock content %}

